@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../Imagens/backgroundPizza.jpg);
    background-size: contain;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

header > h1 {
    font-size: 2.2em;
    font-style: italic;
    color: #ffffff;
}

#pizza-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pontuacao {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
}

#pizza img {
    animation: rotate 100s linear infinite;
    margin: auto;
    width: 70%;
    display: block;
    cursor: pointer;
    -webkit-user-drag: none;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pontos-ganhos {
    position: absolute;
    font-size: 1.7em;
    color: #ffffff;
    animation: sumir 1s ease forwards;
    pointer-events: none;
}

@keyframes sumir {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

#upgrades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 10px 0 10px;
    height: 100px;
}

.upgrade-item {
    display: flex;
    background-color: whitesmoke;
    height: 90px;
    width: 85%;
    border-radius: 20px;
    border: 2px solid red;
    margin: 5px;
}

.upgrade-item:hover {
    background-color: rgb(216, 216, 216);
    cursor: pointer;
}

.upgrade-item > .img > img {
    height: 100%;
    width: 80px;
}

.upgrade-item > .descricao {
    padding: 5px 10px 0px 5px;
    width: 60%;
}

.upgrade-item > .descricao > .nome {
    font-size: 1.5em;
}

.upgrade-item > .descricao > .preco {
    padding-top: 10px;
    font-size: 2em;
}

.upgrade-item > .quantidade {
    display: flex;
    justify-content: center;
    width: 40%;
}

.upgrade-item > .quantidade > .quant-item {
    font-size: 3em;
}