@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vermelho: #9e1b1b;
    --verde: #158615;
}

body {
    background-image: url(../Imagens/pizzaria-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

header > h1 {
    font-size: 2.2em;
    font-style: italic;
    color: #ffffff;
}

#pizza-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#pontuacao {
    font-size: 24px;
    color: #ffffff;
}

#pps {
    color: #ffffff;
    font-size: 1.1em;
    margin-bottom: 10px;
}

#pizza img {
    animation: rotate 100s linear infinite;
    margin: auto;
    width: 70%;
    display: block;
    cursor: pointer;
    -webkit-user-drag: none;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pontos-ganhos {
    position: absolute;
    font-size: 1.7em;
    color: #ffffff;
    animation: sumir 1s ease forwards;
    pointer-events: none;
}

@keyframes sumir {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

#upgrades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 10px 0 10px;
    height: 100px;
}

.upgrade-item {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    height: 90px;
    width: 85%;
    border-radius: 20px;
    margin: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.upgrade-item:hover {
    background-color: rgb(216, 216, 216);
    cursor: pointer;
    transform: scale(1.05);
}

.upgrade-item > .img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 10px;
}

.upgrade-item > .img > img {
    height: 100%;
    width: auto;
    max-width: 80px;
}

.upgrade-item > .descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
    flex-grow: 1;
}

.upgrade-item > .descricao > .nome {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--vermelho);
}

.upgrade-item > .descricao > .preco {
    padding-top: 10px;
    font-size: 1.2em;
    color: var(--vermelho);
}

.upgrade-item > .quantidade {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.upgrade-item > .quantidade > .quant-item {
    font-size: 2em;
    font-weight: bold;
    color: var(--vermelho);
}
